@import './gameOver/gameOver';
@import './audioPlayer/audioPlayer';

.image {
    border-radius: 5px;
    width: 28%;
}

.btn {
    width: 100%;
    margin: 2% 0;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;

    &:hover {
        cursor: pointer;
    }
}

.info_block {
    background-color: rgb(48, 48, 48);
    padding: 2%;
    display: flex;
    justify-content: space-between;
    margin: 2% 0% 5% 0%;
    border-radius: 5px;

    &-title_player {
        width: 70%;
    }
}

#bird_name {
    font-size: 2rem;
}

.answers_block {
    display: flex;
    justify-content: space-between;

    &-options {
        width: 45%;
        display: flex;
        flex-direction: column;
        background-color: rgb(48, 48, 48);
        border-radius: 5px;
        height: 15%;
    }

    &-answer {
        cursor: pointer;
        border-bottom: 1px solid rgb(68, 68, 68);
        padding: 2%;

        &:last-child {
            border-bottom: 0;
        }

        &:hover {
            background-color: rgb(68, 68, 68);
        }

        &:hover .answers_block-btn {
            background-color: rgb(68, 68, 68);
        }

    }

    &-btn {
        width: 100%;
        padding: 3%;
        background-color: rgb(48, 48, 48);
        border: none;
        color: rgb(255, 255, 255);
        text-align: left;
    }

    &-bird_data {
        width: 45%;
    }
}

.answer_point {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: rgb(68, 68, 68);
}

.bird_data {
    background-color: rgb(48, 48, 48);
    padding: 2%;
    border-radius: 5px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-info {
        display: flex;
        justify-content: space-between;
    }

    &-image {
        width: 48%;
    }

    &-name_voice {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    &-name {
        font-size: 1.5rem;
    }

    &-latin_name {
        font-size: 1rem;
        margin: 5% 0% 5% 0%;
    }

    &-description {
        font-size: 1.15rem;
    }
}

.next_level_btn {
    padding: 1%;
    background-color: rgb(48, 48, 48);
    color: rgb(255, 255, 255);
    transition: background-color 0.5s ease 0s;
}

.next_level_btn_active {
    background-color: rgb(0, 188, 140);
}

.right {
    background-color: rgb(40, 168, 136);
}

.wrong {
    background-color: rgb(168, 40, 40);
}

.show {
    display: flex;
}

.hide {
    display: none;
}

@media (max-width: 900px) {
    .bird_data-image {
        height: 90%;
    }
}

@media (max-width: 840px) {
    .bird_data-image {
        height: 85%;
    }
}

@media (max-width: 800px) {
    .info_block-title_player {
        width: 60%;
    }

    .answers_block {
        flex-direction: column;
        align-items: center;

        &-options {
            width: 93%;
        }
    }

    .bird_data {
        margin-top: 5%;
        width: 90%;

        &-image {
            height: auto;
            width: 40%;
        }
    }
}

@media (max-width: 600px) {
    .info_block {
        flex-direction: column;

        &-image {
            width: 50%;
            margin: 0 auto;
        }

        &-title_player {
            width: 100%;
            padding-top: 1%;
        }
    }

    .bird_data-image {
        width: 45%;
    }
}

@media (max-width: 500px) {
    .question_link {
        font-size: 0.8rem;
    }

    .bird_data {
        &-description {
            font-size: 1rem;
        }

        &-image {
            height: 85%;
        }
    }
}

@media (max-width: 350px) {
    .bird_data-image {
        height: 70%;
    }
}
