.header_block {
    &-data {
        display: flex;
        justify-content: space-between;
        margin-top: 2%;
    }

    &-logo {
        background-image: url('../img/logo.svg');
        width: 200px;
        height: 55px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &-score {
        line-height: 3em;
    }

    &-questions {
        display: flex;
        justify-content: space-around;
        border-radius: 5px;
        overflow: hidden;
        margin-top: 2%;
        flex-wrap: wrap;
        background-color: rgb(0, 137, 102);
    }

    &-question {
        background-color: rgb(0, 137, 102);
        width: 130px;
        padding: 1%;
        text-align: center;
    }
}

.question_link {
    width: 100%;
    color: rgb(48, 48, 48);
    text-decoration: none;
}

.active>.question_link {
    color: rgb(144, 255, 227);
}
